<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="post" action="/course/store">
        <div class="mb-4">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="mb-4">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>

        <div class="mb-4">
            <label for="videoId" class="form-label">Vide ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>

        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>